<nav class="navbar">

    <div class="container navbar-container">

        <a href="/" class="logo">
            Feedbacks
        </a>

        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/contact">Contact</a></li>

            {% if current_user.is_authenticated %}

                <li><a href="/create-review">Create Review</a></li>

                <li><a href="/create-question">Ask Question</a></li>

                <li><a href="/logout">Logout</a></li>

            {% else %}

                <li><a href="/login">Login</a></li>

                <li>
                    <a href="/register" class="signup-btn">
                        Sign Up
                    </a>
                </li>

            {% endif %}

        </ul>

    </div>

</nav>