{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container">

    <h1>Login</h1>

    <form method="POST">

        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>

        <br>

        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <br>

        <button type="submit">
            Login
        </button>

    </form>

</div>

{% endblock %}