.navbar{

    background: var(--surface-color);

    border-bottom: 1px solid var(--border-color);

    position: sticky;

    top: 0;

    z-index: 1000;
}

.navbar-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:75px;
}

.logo{

    font-size:28px;

    font-weight:700;

    color:var(--primary-color);
}

.nav-links{

    display:flex;

    align-items:center;

    gap:30px;
}

.nav-links a{

    color:var(--text-color);

    transition:.3s;
}

.nav-links a:hover{

    color:var(--primary-color);
}

.signup-btn{

    background:var(--primary-color);

    padding:10px 18px;

    border-radius:var(--radius-small);
}

.signup-btn:hover{

    background:var(--primary-hover);

    color:white !important;
}