:root {

    /* Colors */
    --bg-color: #0D1117;
    --surface-color: #161B22;
    --surface-hover: #21262D;

    --primary-color: #2563EB;
    --primary-hover: #1D4ED8;

    --review-color: #22C55E;
    --question-color: #F59E0B;

    --text-color: #F8FAFC;
    --secondary-text: #94A3B8;

    --border-color: #30363D;

    --danger-color: #EF4444;
    --success-color: #22C55E;

    /* Radius */
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;

    /* Shadow */
    --shadow: 0 4px 12px rgba(0,0,0,.25);

    /* Max Width */
    --container-width: 1200px;
}